<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>GamePage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<div class="container">
    <h1>
        <h2>Все вопросы:</h2>
        <table border="3" class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Вопрос</th>
                <th>Ответ</th>
                <th>Удалить</th>
                <th>Изменить</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="quest : ${questions}">

                <td th:text="${quest.getId()}"></td>
                <td th:text="${quest.getQuestion()}"></td>
                <td th:text="${quest.getAnswer()}"></td>
                <td><a th:href="@{/delete/{id}(id=${quest.getId()})}">Удалить</a></td>
                <td><a th:href="@{/editQuestion/{id}/edit(id=${quest.getId()})}">
                    <button type="button" class="btn btn-primary">Изменить</button>
                </a></td>
                <td th:text="${quest.isActive()}"></td>


            </tr>

            </tbody>
        </table>
    </h1>

    <a href="/newQuestion">
        <button type="button" class="btn btn-primary">Добавить новый вопрос.</button>
    </a>


</div>
</body>
</html>