<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />

</head>

<body>

<div class="container">
    <div class="row">

        <div class="col-md-offset-3 col-md-6">

            <form class="form-horizontal"  th:method="POST" th:action="@{/admin}" th:object="${admin}">
                <span class="heading">АВТОРИЗАЦИЯ</span>

                <div class="form-group">
                    <input type="text" th:field="*{login}" class="form-control" id="inputEmail" placeholder="login">
                    <i class="fa fa-user"></i>
                </div>

                <div class="form-group help">
                    <input type="password" th:field="*{password}" class="form-control" id="inputPassword" placeholder="Password">
                    <i class="fa fa-lock"></i>
                    <a href="#" class="fa fa-question-circle"></a>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">ВХОД</button>
                </div>

            </form>

        </div>

    </div><!-- /.row -->
</div><!-- /.conta -->


</body>
</html>
