<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>User page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>

   <nav class="navbar navbar-inverse">
       <div class="container-fluid">
           <div class="navbar-header">
               <a class="navbar-brand" href="#">Добро пожаловать в игру ПОЛЕЧУДЕС!</a>
           </div>

           <ul class="nav navbar-nav navbar-right">
               <li><a href="#" th:text="${users.getName()}"><span class="glyphicon glyphicon-user"></span> </a></li>
               <li><a href="/index"><span class="glyphicon glyphicon-log-in"></span> Выйти</a></li>
           </ul>
       </div>
   </nav>

  <div class="container">
      <h2 th:text="${randomQuest.getQuestion()}"></h2>
      <form method="POST" th:action="@{/answerFinder/}"  th:object="${answer}">
          <label for="answer">Ответ:</label>
          <input id="answer" type="text">
          <input type="submit" value="Ответить.">
      </form>
  </div>



</body>
</html>